.character {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  align-items: center;
  gap: 50px;

  &__title {
    font-size: 70px;
    margin-bottom: 30px;
  }

  &__inner {
    padding: 20px;
  }

  &__image {
    width: 100%;
    height: 70%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__bio {
    list-style: disc;
  }
}
