.sidebar {
  background-color: #131519;
  color: #ecf0f1;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #fa6400;
    color: #ffffff;
    padding: 7px 5px;
    display: block;
    text-align: center;
    transition:
      background-color ease 0.2s,
      border-color ease 0.2s;

    &:hover {
      background-color: #fb8332;
    }

    &:focus-within {
      box-shadow: #fb8332 0 0 10px;
      border-color: #ffffff;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
