.sidebar {
  background-color: #131519;
  color: #ecf0f1;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
