.link {
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #fa6400;
  color: #ffffff;
  padding: 7px 5px;
  display: block;
  text-align: center;
  transition:
    background-color ease 0.2s,
    border-color ease 0.2s;

  &:hover {
    background-color: #fb8332;
  }

  &:focus-within {
    box-shadow: #fb8332 0 0 10px;
    border-color: #ffffff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
